.play-dn {
        display: none;
        height: 12px;
}
.play-rt {
        height: 12px;
}

.habit-update-already-updated {
        display: none;
}

.habit-update-successfully-updated {
        display: none;
}

.habit-update-div {
        display: none;
}

.habit-update-loader {
        display: none;
        vertical-align: middle;
}
